
<div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex justify-between items-center bg-[#3671b9] w-full text-white px-3 py-3">
    <%= link_to '<-', root_path, class: "text-2xl"  %>
      <h2 class="uppercase">Login</h2>
      <%= f.submit "Log in", class: "cursor-pointer" %>
    </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "@email", class: "w-full border border-gray-300 py-3 rounded mt-2 outline-none focus:ring-indigo-600" %>

      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password",  class: "w-full border border-gray-300 py-3 rounded outline-none focus:ring-indigo-600" %>
  <% end %>
  <div class="w-full text-center text-[#babebf] mt-3">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "" %>
    <% end %>
  </div>
</div>
